@charset "utf-8";
.banner-wrap,.xiaomi,.case-wrap{
    width: 1452px;
    margin: 0 auto;
}



.nav-wrap,.search-wrap,.con-wrap{
    width: 1500px;
    margin: 0 auto;
}
body{
    overflow-x: hidden;
}
#nav{
    background-color: #333333;
}

.nav-wrap{
    background-color:#333333;
    height: 40px;
}

.nav-wrap>ul{
    width: 638px;
    height: 40px;
    float: left;
    margin-left: 128px;
    margin-right: 350px;
}
.nav-wrap>ul>li{
    float: left;
   
}
.nav-wrap>ul>li>a{
    display: block;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #b0b0b0;
    padding: 0 10px;
    border-right: 1px solid #393433;
    margin-top: 16px;
}
.nav-wrap div:nth-of-type(1){
    width: 36px;
    height: 40px;
    float: left;
}
.nav-wrap div:nth-of-type(1)>a{
    font-size: 12px;
    color: #b0b0bb;
    line-height: 40px;
    border-right: 1px solid #33363b;
    text-align: center;
    padding-right: 5px;
}
 .nav-wrap div:nth-of-type(2){
    width: 36px;
    height: 40px;
    float: left;
}
.nav-wrap div:nth-of-type(2)>a{
    font-size: 12px;
    color: #b0b0bb;
    line-height: 40px;
    border-right: 1px solid #33363b;
    text-align: center;
    padding-right: 5px;
}
.nav-wrap span{
    display: block;
    float: left;
    width: 84px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
}
.nav-wrap div:nth-of-type(3){
    width: 120px;
    height: 40px;
    background-color: #424242;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
}
#search{
    width: 100%;
    border: 1px solid #e0e0e0;
}
.search-wrap{
    height: 100px;
    margin: 0 auto;
}
.search-wrap h2{
    width: 100ox;
    width: 34px;
    padding-top: 22px;
    margin-left: 135px;
    margin-right: 60px;
    float: left;

}
.search-wrap ul{
    width: 760px;
    height: 100px;
    float: left;
    line-height: 100px;
}
.search-wrap ul li{
    float: left;
}
.search-wrap ul li a:hover{
    color: #ff6700;
}
.search-wrap ul li a{
    display: block;
    font-size: 16px;
    color: #333333;
    text-align: center;
    padding: 0 10px;
}
.inbox{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.inbox input:nth-child(1){
    width: 243px;
    height: 48px;
    float: left;
    
}
.inbox div{
    width: 50px;
    height: 50px;
    float: left;
    border:1px solid gray;
    border-left: 0;
    text-align: center;
    line-height: 50px;
   
}
.icon-fangdajing{
    font-size: 16px !important;
}
.sort-box{
    width: 234px;
    height: 458px;
    border: 1px solid #ff6700;
    position: absolute;
    left: 225px;
    top: 140px;
    z-index: 10000;
    background-color: #ffffff;
  
 
}

.sort-box a{
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333333;
    margin: 15px 0;
}
.sort-box a:hover  {
    background-color: #ff6700;
    
}



.particular-box{
    position: absolute;
    left: 450px;
    top: 140px;
    width: 966px;
    height: 458px;
    border: 1px solid slategrey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 26px;
    z-index: 1000;
    background-color: #ffffff;
    display: none;
}

.particular-box a{
    display: block;
    width: 220px;
    height: 70px;
    line-height: 56px;
    color: #333333;

    float: left;
}
.particular-box a:hover{
    color: #ff6700;
}
.particular-box em{

    width: 30px;
    height: 40px;
    float: left;
  
}

.particular-box img{
    width: 100%;
    height: 100%;
}
.particular-box  span{
    margin-left: 18px;
}

#phone{
    position: absolute;
    top: 140px;
    width: 100%;
    height: 194px;
    border-top:1px solid gray ;
      background-color:#ffffff;
    padding-top: 36px;
    display: none;
    z-index: 10000000;
    
}
.phone-box{
    width: 1240px;
    height: 230px;
    margin: 0 auto;
  
}
.phone-box div{
    width: 200px;
    height: 230px;
    text-align: center;
    float: left;
    margin-right: 5px;
}
.phone-box div a{
    display: block;
    width: 220px;
    height: 110px;
    border-right: 1px solid gray;
}
.phone-box div img{
    width: 76px;
    height: 103px;
    margin: 0 auto;

}
.phone-box span{
    color: #333333;
    font-size: 12px;

    line-height: 12px;
    display: block;
    margin: 24px 0 10px 0 ;
}

.phone-box em{
    display: block;
    color: #ff6700;
    line-height: 12px;

    font-size: 12px;
}



















.banner-wrap{
    height: 458px;
    background-color: greenyellow;
    margin-bottom: 15px;
}
#box{
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}
#img-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#img-box>img {
    position: absolute;
    left:1452px;
    width: 1452px;
    height: 100%;
}
#img-box>img:nth-child(1){
    left:0px;
}

#box>ul {
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 110px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    z-index: 999;
}

#box>ul>li {
    float: left;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: pink;
    border-radius: 50%;
}

#box>ul>li:nth-of-type(1) {
    background-color: blue;
}

#box>span {
    position: absolute;
    top: 200px;
    display: block;
    width: 60px;
    height: 40px;
    font-size: 30px;
    color: #ededed;
  
}

#box>span:nth-of-type(1) {
    left: 230px;
}

#box>span:nth-of-type(2) {
    right: -25px;
}



























.xiaomi{
    height: 153px;

}
.xiaomi img{
    display: block;
    float: left;
    margin-right: 58px;
    width: 305px;
    height: 170px;
}

.case-wrap{
    height: 1250px;
    background-color: #f5f5f5 ;
}
.case-wrap h3{
    height: 60px;
    color: #333333;
    font-size: 22px;
    line-height: 60px;
}
.shijina{
    min-height: 340px;
   
    
}
.shijian a{
    display: block;
    width: 233px;
    height: 340px;
    float: left;
   margin-right: 50px;
   margin-bottom: 30px;
    
}
.shijian a:nth-of-type(1) img{
    width: 100%;
    height: 100%;

}
.shijian a:nth-of-type(1) b{
    color:#333333
}
.lender-box a{
    background-color: #ffffff;
    
}
.lender-box img{
    width: 160px;
    height: 150px;
    margin: 0 auto;
    margin-top: 40px;
}
.lender-box p{
    margin-top: 30px;
    font-size: 12px;
    color: #202020;
    line-height: 12px;
    text-align: center;

}
.lender-box span{
    font-size: 12px;
    line-height: 12px;
    color: #c1c1c1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;

}
.lender-box em{
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    color: #fa6509;

}
.lender-box em b{
    color: #c1c1c1;
    text-decoration: line-through;
}
.two-tier{
    background-color: #f2f2f2 !important;
}
.two-tier div{
    width: 230px;
    height: 140px;
    background-color: #ffffff;
    margin-bottom: 16px;
}
.two-tier div b{
    display: block;
    float: left;
    margin-top: 58px;
    margin-left: 30px;
    width: 70px;
    height: 42px;
    font-weight: 900;
   

}
.two-tier div b h5{
    font-size: 12px;
    color: #333333;
    line-height: 12px;
}
.two-tier div b span{
    font-size: 12px;
    color: #ff6700;
    line-height: 12px;
}
.two-tier div  em{
    display: block;
    float: right;
    widows: 76px;
    height: 84px;
    
}
.two-tier div  em img{
    width: 100%;
    height: 100%;
}
.two-tier section{
    width: 198px;
    height: 92px;
    background-color: #ffffff;
    padding-top: 48px;
    padding-left: 32px;
  
}
.two-tier section b{
    display: block;
    width: 72px;
    height: 40px;
    float: left;
    margin-right: 50px;
}
.two-tier section b span{
    color: #333333;
    font-size: 18px;
    line-height: 18px;
}
.two-tier section b em{
    font-size: 12px;
    color: #757575;
    line-height: 12px;
}
.two-tier section i{
    display: block;
    float: left;
    font-size: 48px;
    color: #ff6700;
}



















.shijian a:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f1eded;
}
.shijian a:nth-of-type(1) em{
    color: #ef3a6d;
    font-size: 16px;
    line-height: 16px;
    margin-top: 60px;
}
.shijian a:nth-of-type(1) div span{
    width: 46px;
    height: 46px;
    background-color: #605751;
    font-size: 18px;
    line-height: 46px;
    color: #ffffff;
    text-align: center;
}
.shijian a:nth-of-type(1) img{
    display: block;
    width: 34px;
    height: 53px;
}
.tita_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.tita_box img{
    width: 160px;
    height: 150px;
    margin: 0 auto;
    margin-top: 70px;
}
.tita_box p{
    margin-top: 30px;
    font-size: 12px;
    color: #202020;
    line-height: 12px;
    text-align: center;

}
.tita_box span{
    font-size: 12px;
    line-height: 12px;
    color: #c1c1c1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;

}
.tita_box em{
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    color: #fa6509;

}
.tita_box em b{
    color: #c1c1c1;
    text-decoration: line-through;
}

.mishi{
    height: 120px;
    background:url(../images/mishi_03.png) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}
.jiadian{
    height: 120px;
    background:url(../images/jiadian.webp) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}
.zhineng{
    height: 120px;
    background:url(../images/zhineng.webp) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}
.dapei{
    height: 120px;
    background:url(../images/dapei.webp) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}
.zhoubian{
    height: 120px;
    background:url(../images/zhoubian.webp) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}
.peijian{
    height: 120px;
    background:url(../images/peijian.webp) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}
.zhongxingbi{
    height: 120px;
    background:url(../images/zxb.webp) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}
.shouji{
    height: 60px;
    color: #333333;
    font-size: 22px;
    line-height: 60px;
}
.big_box{
    height: 614px;
    background: #f3f3f3;

}
.mix{
    display: block;
    height: 614px;
    width: 234px;
    float: left;
}
.mixsort{

    height: 614px;
    width: 234px;
    float: left;
}

.mixsort a{
    display: block;
    width: 234px;
    height: 300px;
    margin-bottom: 7px;
    margin-left: 25px;
  
}
.mixsort a img{
    width: 100%;
    height: 100%;
}
.mix img{
    display: block;
    width: 100%;
    height: 100%;
}
.box_img{
    width: 1200px;
    height: 616px;
    float: left;
    margin-left: 15px;
}
.box_img a{
    display: block;
    width: 236px;
    height: 300px;
    float: left;
    margin-left: 49px;
    margin-bottom: 10px;
    
}
.shiping{
    height: 60px;
    color: #333333;
    font-size: 22px;
    line-height: 60px;
}
.sp_box{
    width: 1452px;
    height: 285px;
    margin-bottom: 22px;
}
.sp_box a{
    float: left;
    display: block;
    width: 296px;
    height: 285px;
    margin-right: 60px;
    margin-left: 6px;
}
.sp_box a img{
    display: block;
    width: 100%;
    height: 100%;
}
.footer{
    height: 80px;

}
.footer a{
    text-align: center;
    display: block;
    float: left;
    width: 242px;
    padding: 0 20px;
    color: #757575;
    border-right: 1px solid #ccc;
}
.links{
    height: 157px;
    padding-top: 35px;
}
.links_1{
    width: 160px;
    height: 122px;
    float: left;
}
.links_l h4{
    font-size: 14px;
    color: #424242;
 
}
.links_1 a{
    display: block;
    color: #757575;
    font-size: 12px;
    margin-top: 20px;
}
.rengong{
    width: 228px;
    height: 157px;
    float: left;
    margin-left: 170px;
    text-align: center;
}
.rengong h5{
    font-size: 16px;
    color: #ff6700;
}
.rengong span{
    font-size: 12px;
    color: #616161;
}
.rengong a{
    display: block;
    width: 108px;
    height: 28px;
    border: 1px solid #ff6700;
    margin: 0 auto;
    margin-top: 17px;
    color: #ff6700;
}









.link-wrap{
    margin: 0 auto;
    width: 1224px;
    height: 274px;

}
.links{
    height: 80px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}
.links a{
    width: 246px;
    height: 26px;

    line-height: 26px;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid gray;
}
.lins a i{
    font-size: 30px !important;
}
.links a:hover{
    color: #ff6700;
}
.links a:nth-of-type(5){
    border-right: 0;
}
.links .iconfont{
    font-size: 20px !important;
}

.links_box{

    height: 196px;

}
.links_box div{
    float: left;
    margin-top: 40px;
    margin-right: 100px;
}
.links_box h5{
    font-size: 14px;
    line-height: 14px;
    color: #424242;;
    margin-bottom: 32px;
}
.links_box a{
    display: block;
    font-size: 12px;
    color: gray;
    line-height: 12px;
    margin-bottom: 12px;
}
.links_box section{
    width: 250px;
    height: 112px;
    border-left: 1px solid gray;
    float: left;
    margin-top: 40px;
    text-align: center;
}
.links_box section h6{
    font-size: 18px;
    color: #ff6700;
    line-height: 18px;
    margin-bottom: 12px;
    
}
.links_box section em{
    color: #796161;
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 20px;
}
.links_box section span{
    display: block;
    font-size: 12px;
    width: 120px;
    height: 30px;
    color: #ff6700;
    border: 1px solid #ff6700;
    line-height: 30px;
    margin: 0 auto;

}
.links_box section p{
    font-size: 14px;
    color:#616161;
    line-height: 14px;
    margin-top: 10px;
}
.fir_box{
    margin: 0 auto;
    width: 1224px;
    height: 200px;

    padding-top: 30px;
}
.fir_l{
    width: 58px;
    height: 58px;
    float: left;
}
.fir_r{
    float: left;
}
.fir_nav a{
    font-size: 12px;
    color: black;
    line-height: 12px;
    border-right: 1px solid gray;
    text-align: center;
    padding: 0 3px;
}
.fir_r p{
    font-size: 12px;
    line-height: 12px;
    color: gray;
    margin-top: 4px;
}
.fir_r em{
    display: block;
    margin-top: 10px;
    margin-bottom: 34px;
}
.fir_r span{
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: gray;
    text-align: center;
    font-family: "STHeiti Light [STXihei]";

}
#fir-wrap{
    background-color:#fafafa;
}

.con_l>input:checked{
    background-color: goldenrod;

}

.dingnav{
    width: 84px;
    height: 460px;
    position: fixed;
    right: 0;
    bottom: 40px;
    background-color:#ffffff   ;
    border: 1px solid gray;
    overflow: hidden;
}

.dingnav a{
    display: block;
    width: 84px;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: gray;
    border-bottom: 1px solid gray;
    line-height: 16px;
}
.dingnav a span{
    margin-top: 16px;
}

.dingnav i {
    font-size: 28px;
}
